{% extends "base.html" %}

{% block title %}Form Warga{% endblock %}

{% block content %}
    
    <h2>{% if object %}✨ Edit Data Warga{% else %}➕ Formulir Pendaftaran Warga Baru{% endif %}</h2>

    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            
            {{ form.as_p }}
            
            <div class="form-actions">
                <button type="submit">Simpan Data Warga</button>
                <a href="{% url 'warga-list' %}" class="btn-cancel">Batal</a>
            </div>
            
        </form>
    </div>

{% endblock %}